<FlexboxLayout flexDirection="row" flexWrap="wrap" width="100%" height="100%">
    <Label [text]="'isRooted => ' + result('isRooted')"></Label>
    <Label [text]="'isRootedWithoutBusyBoxCheck => ' + result('isRootedWithoutBusyBoxCheck')" width="100%"></Label>
    <Label [text]="'detectRootManagementApps => ' + result('detectRootManagementApps')" width="100%"></Label>
    <Label [text]="'detectPotentiallyDangerousApps => ' + result('detectPotentiallyDangerousApps')" width="100%"></Label>
    <Label [text]="'detectTestKeys => ' + result('detectTestKeys')" width="100%"></Label>
    <Label [text]="'checkForSuBinary => ' + result('checkForSuBinary')" width="100%"></Label>
    <Label [text]="'checkSuExists => ' + result('checkSuExists')" width="100%"></Label>
    <Label [text]="'checkForRWPaths => ' + result('checkForRWPaths')" width="100%"></Label>
    <Label [text]="'checkForDangerousProps => ' + result('checkForDangerousProps')" width="100%"></Label>
    <Label [text]="'checkForRootNative => ' + result('checkForRootNative')" width="100%"></Label>
    <Label [text]="'detectRootCloakingApps => ' + result('detectRootCloakingApps')" width="100%"></Label>
    <Label [text]="'isSelinuxFlagInEnabled => ' + result('isSelinuxFlagInEnabled')" width="100%"></Label>
    <Label [text]="'checkForMagiskBinary => ' + result('checkForMagiskBinary')" width="100%"></Label>
    <Label [text]="'isJailBroken => ' + result('isJailBroken')" width="100%"></Label>
    <Label [text]="'isRootedOrBusyboxInstalled => ' + result('isRootedOrBusyboxInstalled')" width="100%"></Label>
</FlexboxLayout>
